/*GLOBAL*/
body {
    background-image: url("../immagini/teatro.png");
    background-size: cover;
}

/*MAIN*/
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#back {
    all: unset;
    margin-top: 4px;
    width: 6vw;
    min-width: 30px;
    height: fit-content;
    text-align: center;
    border-radius: 10%;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: black;
}
.back-page {
    position: relative;
    bottom: 90%;
    font-size: 3.2.4vw;
}
#add-film {
    all: unset;
    width: 25vw;
    border-radius: 10%;
    text-align: center;
    font-weight: 500;
    background-color: black;
    color: white;
}
table {
    width: 90vw;
    border-radius: 5%;
    background-color: black;
    color: white;
    outline: 1px solid white;
    margin: 10px;
}
table td {
    padding: 5px;
}
#search-table td {
    border-bottom: 1px solid white;
}
#search-table tr:last-child td{
    border-bottom: 0px;
}
#results-table {
    width: 90vw;
    border-radius: 5%;
}
#results-table td, #results-table th {
    border: 0px solid white;
}
#results-table thead th {
    border-bottom: 1px solid white;
}
#results-table th:not(:first-child) {
    border-left: 1px solid white;
}
#results-table tr td {
    border-top: 1px solid white;
}
#results-table td:not(:first-child) {
    border-left: 1px solid white;
}