/*GLOBAL*/
body {
    background-image: url("/immagini/teatro.png");
    background-size: cover;
}

/*MAIN*/
.tendenza {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tendenza h3{
    display: block;
    width: 100vw;
}

.tendenza .card {
    margin-left: 20px;
    width: 10vw;
    min-width: 100px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.1em;
    background-color: black;
    color: white;
}

.media-name {
    font-size: 9em;
}

.media-link {
    width: 10vw;
}


/* <link rel="stylesheet" href="../static/css/home.css">