/*GLOBAL*/
body {
    background-image: url("../immagini/teatro.png");
    background-size: 100%;
}

/*MAIN*/
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about-us {
    margin-top: 30px;
    width: 90vw;
    height: fit-content;
    min-height: 90vw;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
}
#about-us-heading {
    font-size: 1.5em;
}
#about-us-subheading {
    font-size: 1em;
    font-weight: lighter;
}
#join-us-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.join-us {
    margin-bottom: 10px;
    padding: 8px;
    background-color: rgb(147, 12, 12); 
    text-align: center;
    width: 45vw;
}
.join-us:last-child {
    text-align: start;
    margin-left: 10px;
}
.joinus-content {
    font-weight: lighter;
    font-size: 1em;
}
ol {
    list-style: none;
}
#watchquest-staff {
    width: 80vw;
    height: auto;
}
#watchquest-staff+a {
    text-decoration: none;
}
#joinus-b {
    all: unset;
    margin-bottom: 20px;
    width: 60px;
    border-radius: 6%;
    background-color: rgb(3, 143, 236);
    color: white;
}