/*GLOBAL*/
body {
    background-image: url("../immagini/teatro.png");
    background-size: 100vw 100vh;
    overflow: scroll;
}
/*MAIN*/
#sezione1 {
    position: relative;
    top: 15%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#cover-div {
    margin-left: 3%;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-image: url("../immagini/locandina-test.jpeg");
    background-size: cover;
}
#like{
    justify-self: center;
    width: 50px;
    font-size: 1.5em;
    background-color: hsla(0, 0%, 0%, 0);
    border-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#info-media {
    width: 100px;
    height: fit-content;
    margin-left: 3%;
    margin-top: 4px;
    border-radius: 5%;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
}
.nome-media {
    font-size: 1.5em;
}
.info-media {
    font-size: 1.5em;
    font-weight: lighter;
}
#more-info {
    width: 20%;
    margin-left: 0%;
}
#trama-div {
    margin-left: 10px;
    width: 30vw;
    height: 30vh;
    padding: 0;
    background-color: rgb(49, 49, 49);
    border-width: 4px;
    border-style: solid;
    border-color: black;
    color: white;
    text-align: center;
    font-size: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}
#trama-div::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(49, 49, 49);
}
#trama-div::-webkit-scrollbar-thumb {
    background-color: white;
}
#trama {
    font-size: 1.5em;
    font-weight: lighter;
}
#trailer {
    width: 30vw;
    height: 100px;
    margin-top: 3%;
    margin-left: 3%;
}
#wiki-link {
    all: unset;
    position: relative;
    right: -2%;
    width: 20%;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    font-size: 2em;
    cursor: pointer;
    z-index: 3;
}
#wiki-link:hover {
    cursor: pointer;
}
#sez-commenti {
    margin-left: 15vw;
    width: 20vw;
    min-width: 200px;
    height: 30vh;
    background-color: rgb(49, 49, 49);
    border-width: 4px;
    border-style: solid;
    border-color: black;
    color: white;
    text-align: center;
    font-size: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 1px;
}
#sez-commenti::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(49, 49, 49);
}
#sez-commenti::-webkit-scrollbar-thumb {
    background-color: white;
}

#sez-cast {
    margin-top: 40px;
    width: 100vw;
    color: white;
    margin-bottom: 20vh;
}
.actors {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.actor {
    width: 15vw;
    height: 20vw;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.actor-info {
    display: block;
}