section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px;
}

th,
td {
    text-align: center;
    padding: 10px;
}

th {
    font-weight: bold;
}




#cover-div {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 2%;
}

#info-media {
    grid-column: 2;
    grid-row: 1;
    background-color: gray;
    border: black;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    color: white;
    margin-top: 3%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra tutto il contenuto orizzontalmente */
    justify-content: center; /* Centra il contenuto verticalmente se necessario */
}


#trailer {
    grid-column: 3;
    grid-row: 2;
    width: 80%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 2px;
}

#more-info {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: gray;
    border: black;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    color: white;
    text-align: left;
    position: relative;
    min-height: 40px;
}

#trama-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.descrizione{    
    margin-left: 2px;
    margin-top: 2px;
}

#wiki-link {
    position: absolute;
    right: 3px;
    bottom: 2px;
}


#sez-commenti {
    grid-column: 1 / 3;
    grid-row: 4;
    margin-top: 20px;
    padding: 20px;
    background-color: gray;
    border: black;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    color: white;
}