<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/utente.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="button-container">
        <a href="/home"> <button>home</button></a>
        <button onclick="document.getElementById('inserisci').style.display='flex'">Inserisci utente</button>
    </div>
    <table>
        <thead>
            <th> cerca per nome</th>
            <th> cerca per cognome</th>
            <th> cerca per nominativo</th>
            <th> cerca per username</th>
            <th> cerca per email</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form id="search-form" action="/utente/byNome" method="get" style="display: flex;">
                        <input type="text" id="search-nome" name="nome" placeholder="Inserisci nome...">
                        <input type="submit" value="Cerca">
                    </form>
                </td>
                <td>
                    <form id="search-form" action="/utente/byCognome" method="get" style="display: flex;">
                        <input type="text" id="search-cognome" name="cognome" placeholder="Inserisci cognome...">
                        <input type="submit" value="Cerca">
                    </form>
                </td>
                <td>
                    <form id="search-form" action="/utente/byNominativo" method="get" style="display: flex;">
                        <input type="text" id="search-nome" name="nome" placeholder="Inserisci nome...">
                        <input type="text" id="search-cognome" name="cognome" placeholder="Inserisci cognome...">
                        <input type="submit" value="Cerca">
                    </form>
                </td>
                <td>
                    <form id="search-form" action="/utente/byUsername" method="get" style="display: flex;">
                        <input type="text" id="search-username" name="username" placeholder="Inserisci username...">
                        <input type="submit" value="Cerca">
                    </form>
                </td>
                <td>
                    <form id="search-form" action="/utente/byEmail" method="get" style="display: flex;">
                        <input type="text" id="search-email" name="email" placeholder="Inserisci email...">
                        <input type="submit" value="Cerca">
                    </form>
                </td>
            </tr>
        </tbody>
    <table>

        <thead>
            <th>id</th>
            <th>nome</th>
            <th>cognome</th>
            <th>data_nascita</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>lingua</th>
            <th>modifica</th>
            <th>elimina</th>
            <th>programmi</th>
            <th>quiz nuovi</th>
        </thead>

        <tbody>
            <tr:block th:each="utente : ${lista}">
                    <td th:text="${utente.id}"></td>
                    <td th:text="${utente.nome}"></td>
                    <td th:text="${utente.cognome}"></td>
                    <td th:text="${utente.data_nascita}"></td>
                    <td th:text="${utente.username}"></td>
                    <td th:text="${utente.password}"></td>
                    <td th:text="${utente.email}"></td>
                    <td th:text="${utente.lingua}"></td>

                    <td><button th:attr="
                    data-modifica-id = ${utente.id},
                    data-modifica-nome = ${utente.nome},
                    data-modifica-cognome = ${utente.cognome},
                    data-modifica-data_nascita = ${utente.data_nascita},
                    data-modifica-username = ${utente.username},
                    data-modifica-password = ${utente.password},
                    data-modifica-email = ${utente.email},
                    data-modifica-lingua = ${utente.lingua}" onclick="modificaUtente(this)">Modifica</button>
                    </td>

                    <td> <a th:href="|/utente/elimina?idUtente=${utente.id}|"><button>Elimina</button></a></td>
                    <td> <a th:href="|/utente/filmDettagliUtente?idUtente=${utente.id}|"><button>Programmi</button></a></td>
                    <td> <a th:href="|/quiz/nuovi?idUtente=${utente.id}|"><button>Quiz</button></a></td>
               
                </tr>
            </tr:block>
        </tbody>
    </table>

    <div id=contenuto>
        <div class="modal" id="inserisci" style="display:none;">
            <div id="modal-add" class="modal-content">
                <span onclick="document.getElementById('inserisci').style.display='none'"
                    style="cursor:pointer;">&times;</span>
                <h4>Inserisci nuovo utente</h4>
                <form action="/utente/inserisci" method="post">
                    <label for="nome">nome</label>
                    <input type="text" name="nome" id="nome"> <br>
                    <label for="cognome">cognome</label>
                    <input type="text" name="cognome" id="cognome"> <br>
                    <label for="data_nascita">data_nascita</label>
                    <input type="date" name="data_nascita" id="data_nascita"> <br>
                    <label for="username">username</label>
                    <input type="text" name="username" id="username"> <br>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password"> <br>
                    <label for="email">email</label>
                    <input type="email" name="email" id="email"> <br>
                    <label for="lingua">lingua</label>
                    <input type="text" name="lingua" id="lingua"> <br>

                    <br>
                    <input type="submit" value="Aggiungi">
                </form>
            </div>
        </div>
    </div>

    <div id="form-modifica" hidden>
        <form action="/utente/modifica" method="post">
            <label for="modifica-id">Id</label>
            <input type="number" name="id" id="modifica-id" readonly> <br>
            <label for="modifica-nome">nome</label>
            <input type="text" name="nome" id="modifica-nome"> <br>
            <label for="modifica-cognome">cognome</label>
            <input type="text" name="cognome" id="modifica-cognome"> <br>
            <label for="modifica-data_nascita">data_nascita</label>
            <input type="date" name="data_nascita" id="modifica-data_nascita"> <br>
            <label for="modifica-username">username</label>
            <input type="text" name="username" id="modifica-username"> <br>
            <label for="modifica-password">password</label>
            <input type="password" name="password" id="modifica-password"> <br>
            <label for="modifica-email">email</label>
            <input type="email" name="email" id="modifica-email"> <br>
            <label for="modifica-lingua">lingua</label>
            <input type="text" name="lingua" id="modifica-lingua"> <br>

            <input type="submit" value="modifica">
        </form>
    </div>
</body>

</html>